.card {
  display: grid;
  gap: 0.75rem;
  width: 80%;
  padding: 1.25rem;
  border-radius: 1rem;
  background: $color-bg;
  border: 2px solid $color-primary;
  transition: 
    transform 180ms ease, 
    background-color 200ms ease,
    box-shadow 200ms ease;

  &:hover {
    transform: scale(1.02);
    //background: lighten($color-bg, 10%);
    @include box-shadow($color-primary);
  }

  @media (max-width: 768px) {
    width: 100%;
    
    &:hover {
      transform: none;
      box-shadow: none;
    }
  }

  .button{
    padding: 1rem 1.5rem;
    justify-self: end;
    margin-top: 0.5rem;

    @media (max-width: 768px) {
      padding: 0.7rem 1.5rem;
    }
  }
}
