@use '@/styles/variables' as *;

.btn {
  appearance: none;
  border: none;
  cursor: pointer;
  padding: .6rem 1rem;
  border-radius: .6rem;
  background: $color-primary;
  color: white;
  font-weight: 600;
  transition: transform .06s ease, opacity .15s ease;

  &:hover { opacity: .95; }
  &:active { transform: translateY(1px); }
}