@use '@/styles/variables' as *;

.btn {
  font-family: $font-title;
  font-size: $font-size-btn;
  cursor: pointer;
  padding: 1rem 2.5rem;
  border-radius: 40px;
  max-width: max-content;
}
.primary {
  background-color: $color-secondary;
  color: $color-bg;
  @include box-shadow($color-secondary);
  transition:
    background-color .3s ease,
    color .3s ease,
    backdrop-filter .3s ease;

  &:hover {
    background-color: rgba($color-bg, 0.3); // semi-transparent
    color: $color-secondary;
    backdrop-filter: blur(6px);
  }

  @media (max-width: 768px) {
    text-align: center;
  }
}


.secondary {
  background-color: $color-bg;
  color: $color-primary;
  border: 2px solid $color-primary;
  @include box-shadow($color-primary);

  @media (max-width: 768px) {
    text-align: center;
  }
}
