.container {
  padding: 3rem 0;
}

.header {
  margin-bottom: 1.25rem;
}

.description {
  margin-top: 0.5rem;
}

/* Espace autour du carrousel générique */
.carouselWrapper {
  position: relative;
}
