@use './fonts' as *;

// Fonts

// Colors
$color-bg: #1D252C;
$color-primary: #67C3FB;
$color-secondary: #FF6F61;
$color-text: #FFFFFF;

// Spacing
$space-1: .25rem;
$space-2: .5rem;
$space-3: 1rem;

// Border radius
$radius: 12px;