@use './fonts' as *;

// Fonts
$font-title: 'Righteous', sans-serif;
$font-body: 'Roboto', sans-serif;


// Colors
$color-bg: #1D252C;
$color-primary: #67C3FB;
$color-secondary: #FE953F;
$color-text: #FFFFFF;

//Font sizes
$font-size-btn: 1.2rem;

// Spacing
$space-1: .25rem;
$space-2: .5rem;
$space-3: 1rem;

// Border radius
$radius-1: 12px;