@use '@/styles/variables' as *;

.intro {
  max-width: 48rem;
  margin-inline: auto;
  margin-block: 2rem 3rem;
  text-align: center;
  padding: 0 1rem;

  .content {
    p + p {
      margin-top: 1rem;
    }

    em {
      font-style: normal;
      font-family: $font-title;
    }

    /*strong {
      font-weight: 700;
    }

    em {
      font-style: italic;
    }

    a {
      text-decoration: underline;
      text-underline-offset: 2px;
    }*/
  }
}
