.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
  max-width: 200px;
  //border-radius: 0.75rem;
  //border: 1px solid rgba(0, 0, 0, 0.08);
  //background: #fff;

  .icon {
    width: 48px;
    height: 48px;
    flex: 0 0 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .content {
    display: grid;
    gap: 0.25rem;

    /*.title {
      margin: 0;
      font-size: 1rem;
      line-height: 1.25rem;
      font-weight: 600;
    }*/

    .description {
      margin: 0;
      font-size: 0.95rem;
      line-height: 1.4;
      color: $color-text;
    }
  }
}
